body{
    width: 100%;
    margin: auto;
    padding: 0rem;
}

.container{

}

.head-container{
    color: whitesmoke;
    font-weight: bolder;
    width: 85%;
    padding: 3rem 5rem 0;
    background-color: rgba(197, 12, 12, 0.897);
    margin: auto;
    border-radius: 1rem 1rem 0 0;
    height: 550px;
}

.hero-img{
position: relative;
width: 40%;
height: auto;
margin-left: 60%;
margin-top: -3%;
}

.input-date{
    border-radius: 1rem;
    border: none;
    margin-top: 10%;
    font-size: larger;
    font-weight: bold;
}

.btn-check{
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(208, 214, 250);
    font-size: larger;
    cursor: pointer;
    font-weight: bold;
}

.working {
    
}

.msg {
    display: none;
    color:rgb(19, 4, 4) ;
}

